{% extends 'index.html' %}

{% block content %}

{% if success_backroll %}
    <div class="alert alert-success mt-2 fade show" style="position:absolute; right: 60px" role="alert">
      Success backroll
      <button type="button" class="close ml-1" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}

<button type="button" class="btn btn-primary" onclick="location.href='dump'", style="position:absolute; right: 350px;">
    Dump
</button>
<button type="button" class="btn btn-primary" onclick="location.href='/load_dump'", style="position:absolute; right: 200px;">
    Load dump
</button>

<h3 class="mt-4 mb-4">What are you want to do?</h3>
<ul>
    <li>
        <p><a href="/edit_medicines">Edit medicines</a></p>
    </li>
    <li>
        <p><a href="/edit_substance">Edit substances</a></p>
    </li>
    <li>
        <p><a href="/edit_user">Edit users</a></p>
    </li>
    <li>
        <p><a href="/edit_doctor">Edit doctors</a></p>
    </li>
    <li>
        <p><a href="/edit_supplier">Edit suppliers</a></p>
    </li>
    <li>
        <p><a href="/edit_role">Edit roles</a></p>
    </li>
</ul>

{% endblock %}