{% extends 'index.html' %}
{% block content %}
  <h1 class="mt-4">Admin panel</h1>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create new supplier
  </button>

  <button type="button" class="btn btn-primary" style="position:absolute; right: 450px;"
          onclick="window.location.href='/edit'">Back</button>

  <form method="POST" action="/backroll", enctype="multipart/form-data">
    <input type="text" name ="InputCount" class="form-control mb-15" style="position:absolute; width: 13%; top:135px; right: 120px;" id="InputCount" placeholder="Enter backroll rows">
    <button type="submit" class="btn btn-primary" style="position:absolute; top:135px; right: 30px;">Backroll</button>
  </form>

  {% if success_update %}
      <p class="mt-4" style="color:green">Success update</p>
  {% endif %}

  {% if seccess_backroll %}
      <p class="mt-4" style="color:green">Success backroll</p>
  {% endif %}

  {% if success_delete %}
      <h4 class="mt-4" style="color:red">Success delete</h4>
  {% endif %}

  {% if success %}
      <p class="mt-4" style="color:green">Record added</p>
  {% endif %}

  <table class="table table-hover mt-4">
      <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Company</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
      </thead>
      <tbody>
        {% for supplier in suppliers %}
            <tr>
              <th>{{supplier.id}}</th>
              <td>{{supplier.first_name}}</td>
              <td>{{supplier.last_name}}</td>
              <td>{{supplier.company}}</td>
              <td style="width: 90px">
                  <button type="button" class="btn btn-primary" onclick="location.href='/update_supplier/{{supplier.id}}'">Update</button>
              </td>
              <td style="width: 90px">
                  <button type="button" class="btn btn-danger" onclick="location.href='/delete_supplier/{{supplier.id}}'">Delete</button>
              </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create supplier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" action="/create_supplier", enctype="multipart/form-data">

            <label for="exampleInputTitle">Supplier name</label>
            <input type="text" name ="inputTitle" class="form-control mb-3" id="exampleInputFirstName" placeholder="Enter first and last name" required>

            <label for="exampleInputTitle">Supplier company</label>
            <input type="text" name ="inputCompany" class="form-control mb-3" id="exampleInputTitle" placeholder="Enter company" required>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
      </div>

    </div>
  </div>
</div>



{% endblock %}
