{% extends 'index.html' %}

{% block content %}

<h3 class="mt-4 mb-4">What are you want to do?</h3>
<ul>
    <li>
        <p><a href="/edit_medicines">Edit medicines</a></p>
    </li>
    <li>
        <p><a href="/edit_company">Edit substances</a></p>
    </li>
    <li>
        <p><a href="/edit_company">Edit users</a></p>
    </li>
    <li>
        <p><a href="/edit_company">Edit doctors</a></p>
    </li>
    <li>
        <p><a href="/edit_company">Edit suppliers</a></p>
    </li>
    <li>
        <p><a href="/edit_company">Edit roles</a></p>
    </li>
</ul>

{% endblock %}