{% extends 'index.html' %}
{% block content %}
  <h1 class="mt-4">My orders</h1>

  <button type="button" class="btn btn-primary" style="position:absolute; right: 325px; top: 85px;"
          onclick="window.location.href='/'">Back</button>

  <table class="table table-hover mt-4">
      <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Supplier</th>
            <th scope="col">Check</th>
            <th scope="col">Date</th>
            <th scope="col">Recipe</th>
          </tr>
      </thead>
      <tbody>
        {% for row in data %}
            <tr>
              <th>{{row.order.id}}</th>
              <td>{{row.supplier.first_name}} {{row.supplier.last_name}}</td>
              <td>{{row.check.total_price}}</td>
              <td>{{row.check.date}}</td>
              <td>{{row.recipe.id}}</td>
              <td style="width: 90px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Show recipe
                </button>
              </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
    

{% endblock %}
